    <footer>
        <div class="logo-footer">
            <img src="/info/ByteZoneV2.jpg" class="rounded-circle" width="75" height="75" alt="Imagen circular">
        </div>
        <p>Siguenos en</p>
        <div class="redes">
            <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube fa-2xl m-x-auto"></i></a>
            <a href="https://www.tiktok.com/es/"><i class="fa-brands fa-tiktok fa-2xl"></i></a>
            <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-2xl"></i></a>
            <a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook fa-2xl"></i></a>
        </div>
            <div class="container">
        <p class="text-center">© 2025 ByteZone. Todos los derechos reservados.</p>
        <p class="text-center">Desarrollado por: Equipo de MDW</p>
    </div>
    </footer>
