<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-auto">
            <div class="card product-card">
                <img src="{{ producto.image_url }}" class="product-image" alt="Imagen del producto">
                <div class="product-body">
                    <h5 class="card-title text-wrap">{{ producto.name }}</h5>
                    <p class="card-text">Marca: <strong>{{ producto.brand }}</strong></p>
                    <div class="price-container">
                        <p class="product-price-old">S./{{ producto.price }}</p>
                        <p class="product-price">S./{{ producto.price - producto.price *0.10 | number:'1.2-2'}}</p>
                    </div>
                    <!-- Contenedor para centrar el botón -->
                    <div class="d-flex justify-content-center mt-3">
                        <a [routerLink]="['/detalle', producto.id]" class="btn btn-primary btn-sm">Añadir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>